*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
application/config/database.php

#config de google
application/config/google.php
/.project
/.buildpath
/.gitignore

#certificados
dhparam.pem
apache-selfsigned.key
apache-selfsigned.pem
apache-selfsigned.crt

#node
package.json
package-lock.json
nodeout
nodepid
